#trellatorio h3 {
	display: inline-block;
	float: left;
}

#trellatorio .clearfix {
	position: relative;
}

#trellatorio .js-stop-timer .icon-clock:before {
	content: "\f023";
}

#trellatorio .icon-save:before {
	content: "\f028";
}

#trellatorio .icon-edit:before {
	content: "\f031";
}

#trellatorio .js-stop-timer:hover {
	background: #C43131!important;
	background: -webkit-linear-gradient(top, #C43131 0, #AB2B2B 100%)!important;
	background: linear-gradient(to bottom, #C43131 0, #AB2B2B 100%)!important;
	border-color: #B82E2E!important;
}

#trellatorio .trellatorio-timer {
	float: right;
	text-align: right;
	display: inline-block;
	-webkit-transition: .5s;
}

#trellatorio .js-send-timer.blocked,
#trellatorio .js-send-timer.blocked:hover {
	background: #fff;
	background: -webkit-linear-gradient(top,#fff 0,#f5f5f5 100%);
	background: linear-gradient(to bottom,#fff 0,#f5f5f5 100%);
	border: 1px solid #e3e3e3;
	border-bottom-color: #c2c2c2;
	color: #444;
	opacity: 0.75;
	cursor: progress!important;
}

#trellatorio .js-send-timer.blocked:hover .icon-save:before {
	color: #a6a6a6;
}

#trellatorio .js-edit-timer.blocked,
#trellatorio .js-edit-timer.blocked:hover {
	opacity: 0.75;
	cursor: progress!important;
}

#trellatorio .nao-autorizado {
	opacity: 0.1;
	position: relative;
	padding: 10px 2px 35px 2px;
}

#trellatorio .nao-autorizado.autorizado {
	opacity: 1;
	padding: 0;
}

#trellatorio .login-box {
	background: rgba(0, 0, 0, 0.15);
	padding: 15px 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	text-align: center;
	opacity: 1;
	border-radius: 5px;
}

#trellatorio .login-box a {
	display: block;
	font-size: 20px;
	margin: 4px 0;
	text-decoration: none;
	color: #0092d3;
	font-weight: bold;
}

#trellatorio .login-box a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #007FB8;
}

.trello-toast {
	background: rgba(60, 60, 60, 1);
	color: #fff;
	text-align: center;
	display: none;
	position: absolute;
	top: 30px;
	left: 50%;
	width: 500px;
	padding: 10px 15px;
	vertical-align: middle;
	box-shadow: 1px 0px 1px #000;
	z-index: 9999999;
	margin-left: -250px;
}

.trello-toast p {
	font-size: 16px;
	margin: 0;
}

.trellatorio-edit-popup {
	z-index: 9999!important;
	text-align: center;
	width: 400px!important;
	margin-left: -50px;
}

.trellatorio-edit-popup .edit-timer {
	font-size: 30px;
	display: block;
	margin: 35px auto 5px auto;
}

.trellatorio-edit-popup .edit-timer input[type="number"] {
	padding: 7px 5px 7px 15px;
	border: 1px solid #ccc;
	margin: 0 15px;
	display: inline-block;
	min-width: 90px;
	font-size: 40px;
	vertical-align: middle;
	text-align: left;
	max-width: 0;
	border-radius: 0;
}

.trellatorio-edit-popup .btn-send-edit {
	display: block;
	font-size: 17px;
	text-decoration: none;
	color: #fff;
	background: #0092d3;
	padding: 7px 0px;
	font-weight: bold;
	margin-top: 30px;
	width: 100%;
}

.trellatorio-block-click {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	cursor: pointer;
	display: none;
}

@-webkit-keyframes runningClock {
    0% {opacity: 1;}
	50% {opacity: 0.5;}
	100% {opacity: 1;}
}

.running-clock {
	-webkit-animation: runningClock 3s alternate infinite linear;
}